{% macro endpoint(thread_id)
%}https://commentingsystem.com/api/threads/{{thread_id}}/comments{% endmacro %}
{% macro thread(comments) %} {% for comment in comments %}
<li>
    <article data-comment-id="{{comment.id}}">
        <div>
            <p>{{comment.author}}</p>
            <time>{{ comment.date_created }}</time>
        </div>
        <p>{{comment.content}}</p>
        <button data-reply-button>Reply</button>
    </article>
    <ul>
        {% if comment.replies | length > 0 %}
        {{self::thread(comments=comment.replies)}} {% endif %}
    </ul>
</li>
{% endfor %} {% endmacro %}
