<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../css/styles.css" />
        <link rel="stylesheet" href="../css/commenting-system.css" />
        <title>{{page.title}}</title>
    </head>
    <body>
        <main>
            {% block content %}
            <h1>{{ page.title }}</h1>
            {{ page.content | safe }} {% endblock content %} {% if
            page.extra.thread %}

            <!-- Dynamic url endpoint -->
            {% set url = self::endpoint(thread_id = page.extra.thread) %}

            <!-- Query comments belonging to the provided thread -->
            {% set comments = load_data(url=url, format="json") %}

            <!-- Commenting System -->
            <commenting-system data-thread-id="{{ page.extra.thread }}">
                <section>
                    <p>
                        Comments &#8226; {% if comments %}{{ comments | length
                        }} {% else %} 0 {% endif %}
                    </p>

                    <form>
                        <label for="author">Author</label>
                        <input
                            type="text"
                            name="author"
                            id="author"
                            value="Internet stranger"
                        />

                        <label for="comment">Comment</label>
                        <textarea name="comment" id="comment"></textarea>

                        <button>Submit</button>
                    </form>

                    <ul>
                        {% if comments %} {{ self::thread(comments=comments) }}
                        {% endif %}
                    </ul>
                </section>
            </commenting-system>
            {% endif %}
        </main>

        <script src="../javascript/commenting-system.js"></script>
    </body>
</html>

{% macro thread(comments) %} {% for comment in comments %}
<li>
    <article data-comment-id="{{comment.id}}">
        <div>
            <p>{{comment.author}}</p>
            <time>{{ comment.date_created }}</time>
        </div>
        <p>{{comment.content}}</p>
        <button data-reply-button>Reply</button>
    </article>
    <ul>
        {% if comment.replies | length > 0 %}
        {{self::thread(comments=comment.replies)}} {% endif %}
    </ul>
</li>
{% endfor %} {% endmacro thread %}

<!-- Macro that creates the dynamic endpoint -->
{% macro endpoint(thread_id) %}
https://commentingsystem.com/api/threads/{{thread_id}}/comments {% endmacro
endpoint %}
